<div id="profile-container" class="container">

  <div class="media">
    <div class="media-left" >

      <div class="profile-picture">
        <a ui-sref="usersShow({ id: usersShow.user._id })">

          <div id="profile-row-1" class="row">
            <img id="profilePic" class="media-object" ng-src="{{ usersShowCtrl.user.image }}">
          </a>
        </div>

      </div>
      <div class="media-body">
        <h4 class="media-heading"> {{ usersShowCtrl.user.username }} </h4>
      </div>

      <ul>
        <li class="profile-fields">
          <p>first name: {{ usersShowCtrl.user.firstName }}</p>
          <p>last name: {{ usersShowCtrl.user.lastName }}</p>
          <p>email: {{ usersShowCtrl.user.email }}</p>
          <p>location: {{ usersShowCtrl.user.location }}</p>
          <p>about: {{ usersShowCtrl.user.about }}</p>
        </li>
      </ul>

      <li id="edit-button"><a class="btn btn-default" ui-sref="usersEdit({id: usersShowCtrl.user._id})">Edit</a></li>
      <li id="delete-button"><a class="btn btn-default" ng-click="usersShowCtrl.userDelete()">Delete</a></li>
    </div>
  </div>
</div>
