<section class="container profile">
  <h1>{{ usersShowCtrl.user.username }}</h1>
  <h4>{{ usersShowCtrl.user.firstName }} {{ usersShowCtrl.user.lastName }}</h3>
  <p>
    {{ usersShowCtrl.user.about }}
  </p>
  <a class="btn btn-default list-inline" ui-sref="usersEdit({id: usersShowCtrl.user._id})">Edit</a>
</section>

<div class="jumbotron" style="background-image: url('{{ post.image }}')" ng-repeat="post in usersShowCtrl.posts track by $index">
  <div class="container">
    <h1>{{ post.title }}</h1>
    <p>{{ post.about }}</p>
    <p><a ui-sref="postShow({ id: post._id })" class="btn btn-primary btn-lg" href="#" role="button">Read</a></p>
  </div>
</div>
