.jumbotron {
  text-align: center;
  background: $white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: $white;
  margin-bottom: 2.5rem;

  &.home {
    color: $black;
    min-height: 100%;
    margin-bottom: 0;
  }

  .btn-primary {
    background: $yellow;
    color: $nearlyBlack;
    border: $white;

    &:hover {
      background: $black;
      color: $white;
    }
  }
}
