// Colors
$black:           #000000;
$nearlyBlack:     #222222;
$yellow:          #f7ff00;
$nearlyWhite:     #FAFAFA;
$white:           #FFFFFF;

// Typography
$logo-font:       'Playfair Display', serif;
$header-font:     'Droid Serif', serif;
$body-font:       'Roboto', sans-serif;
$button-font:     'Droid Serif', serif;

// Base
$section-padding:  2.5rem;

// Modules/Header
$logo-color:      $black;
