@import "bower";

body {
  font-family: 'Inconsolata', monospace;
  background-color: #F0EDEE;
}

//body.home {
//    background: url('https://images.unsplash.com/uploads/14131528928453585b6dc/829d24cf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=851ed16fd973c0a946045b43cf5c49f7') no-repeat center center fixed;
//}

// sticky footer with flex-box
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
// sticky footer with flex-box

//.footer {
//  height: 60px;
//  width: 100%;
//  background-color: #0B4F6C;
//  opacity: 0.3;
//  border-radius: 3px;
//  margin-top: 30px;
//}


.form {
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}


p.ng-scope {
  font-family: 'Inconsolata', monospace;
}

label {
  font-family: 'Inconsolata', monospace;
}

button {
  font-family: 'Inconsolata', monospace;
}

input.button {
  font-family: 'Inconsolata', monospace;
}

ul {
  li {
    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

a.nav-text {
  font-family: 'Inconsolata', monospace;
}

.navbar-default {
  background-color: #3487AA;
  opacity: 0.8;
  font-family: 'Inconsolata', monospace;
}


.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
  color: #FCFF4B;
}

.navbar-default .navbar-nav > li >a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
}

.postImage {
  width: 350px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  margin: 20px;
}

li {
  list-style-type: none;
}



.posts {
  margin: 20px;
  color: #1E152A;
  border: 2px solid #1E152A;
}

.postsFollow {
  margin: 5px;
  color: #1E152A;
  border: 2px solid #1E152A;
  float: center;
}

.imgNbutton {
  margin: 0 auto;
  //border: 1px solid #1E152A;
  margin: 10px;
  text-align: center;
  padding: 30px;
}

.imgNbutton img {
  margin: 0 auto;
  width: 100%;
  height: 550px;
}

.postCard {
  margin: 10px;
  height: 750px;
  width: 900px;
  border: 2px solid white;
  //box-shadow: 0px 0px 5px;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}



.textAngular {
  width: 70%;
  margin: 0 auto;
}


#postTitle {
  text-align: center;
}

.editPost {
  //border: 2px solid #1E152A;
  //width: 300px;
  //height: auto;
  //margin: 0 auto;
  //border-radius: 20px;
  margin-top: 50px;
}

//textAngular CSS
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}


//.btn-custom {background: rgba(255, 255, 255, 1); border-color: rgba(204, 204, 204, 1); color: rgba(51, 51, 51, 1); font-size: 14px; border-radius: 9px; border-width: 1px;}
//.btn-custom:hover {background: rgba(245, 242, 242, 1); border-color: rgba(201, 197, 197, 1); color: rgba(51, 51, 51, 1);}
//.btn-custom:active, .btn-custom:focus {background: rgba(235, 235, 235, 1); border-color: rgba(173, 173, 173, 1); color: rgba(51, 51, 51, 1);}


.postButtons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
  border-radius: 5px;
}

#homeImg {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

#logoTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FCFF4B;
  margin-top: 16%;
  font-size: 4em;
  font-family: 'Orbitron', sans-serif;
}

.list-inline {
  margin: 40px;
}

.contentBox {
  margin: 30px;
}

.profile {
  text-align: center;
  //margin: 0 auto;
  margin-top: 10%;
}
