@import "bower";

ul {
  li {
    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
}


.navbar-default {
  background-color: #1E152A;
}


.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
  color: yellow;
}

.navbar-default .navbar-nav >li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
}

.postImage {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style-type: none;
}

.postButtons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

.posts {
  margin: 20px;
  color: #1E152A;
  border: 2px solid #1E152A;
}

.postsFollow {
  margin: 5px;
  color: #1E152A;
  border: 2px solid #1E152A;
  float: center;
}

.imgNbutton {
  margin: 0 auto;
  border: 1px solid red;
  margin: 10px;
}

.imgNbutton img {
  margin: 0 auto;
}

.postCard {
  margin: 10px;
  height: 400px;
  width: 300px;
  border: 2px solid #1E152A;
  border-radius: 20px;
}

.postImage {
    border: none;
    margin: 0 auto;
}


#postTitle {
  text-align: center;
}

.editPost {
  border: 2px solid #1E152A;
  width: 300px;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
}

//textAngular CSS
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}
