@import "bower";

body {
  //font-family: 'Titillium Web', sans-serif;
  font-family: 'Inconsolata', monospace;
  background-color: #F0EDEE;
}

p.ng-scope {
  //font-family: 'Titillium Web', sans-serif;
  font-family: 'Inconsolata', monospace;
}

label {
  font-family: 'Inconsolata', monospace;
}

button {
  font-family: 'Inconsolata', monospace;
}

input.button {
  font-family: 'Inconsolata', monospace;
}

ul {
  li {
    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

a.nav-text {
  //font-family: 'Titillium Web', sans-serif;
  font-family: 'Inconsolata', monospace;
}

.navbar-default {
  background-color: #0B4F6C;
  opacity: 0.8;
  //font-family: 'Titillium Web', sans-serif;
  font-family: 'Inconsolata', monospace;
}


.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
  color: yellow;
}

.navbar-default .navbar-nav > li >a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
}

.postImage {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style-type: none;
}

.postButtons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

.posts {
  margin: 20px;
  color: #1E152A;
  border: 2px solid #1E152A;
}

.postsFollow {
  margin: 5px;
  color: #1E152A;
  border: 2px solid #1E152A;
  float: center;
}

.imgNbutton {
  margin: 0 auto;
  border: 1px solid red;
  margin: 10px;
}

.imgNbutton img {
  margin: 0 auto;
  width: 100%;
}

div.imgNbutton {
  margin: 0 auto;
}



.postCard {
  margin: 10px;
  height: 500px;
  width: 450px;
  border: 2px solid #1E152A;
  border-radius: 20px;
  text-align: center;
}

.postImage {
    border: none;
    margin: 0 auto;
}

.textAngular {
  width: 70%;
  margin: 0 auto;
}


#postTitle {
  text-align: center;
}

.editPost {
  border: 2px solid #1E152A;
  width: 300px;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
}

//textAngular CSS
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}
