<form class="form" ng-submit="PostEditCtrl.submit()">
  <div class="form-group">
    <label>Post</label>
    <input ng-model="PostEditCtrl.post.title" class="form-control">
  </div>
  <div class="form-group">
    <label>Image</label>
    <input ng-model="PostEditCtrl.post.image" class="form-control">
  </div>
  <div class="form-group">
    <label>Text</label>
    <textarea ng-model="PostEditCtrl.post.content" class="form-control"></textarea>
  </div>
  <input class="button" type="submit" value="Update" class="btn btn-primary">
</form>
