<section class="container">
  <form class="textAngular" class="form" ng-submit="PostNewCtrl.submit()">
    <div class="form-group">
      <label>Title</label>
      <input ng-model="PostNewCtrl.post.title" class="form-control">
    </div>
    <div class="form-group">
      <label>Main Image</label>
      <input ng-model="PostNewCtrl.post.image" class="form-control">
    </div>
    <div class="form-group">
      <label>About</label>
      <input ng-model="PostNewCtrl.post.about" class="form-control">
    </div>

    <div text-angular ng-model="PostNewCtrl.post.content"></div>

    <input class="btn btn-lg btn-primary pull-right" type="submit" value="Add">
  </form>
</section>
