<div class="editPost">
  <h1>{{ PostShowCtrl.post.title }}</h1>

  <div ta-bind ng-model="PostShowCtrl.post.content"></div>

  <img class="card-img-top postImage" ng-src="{{ PostShowCtrl.post.image }}">

  <ul class="list-inline">
    <li><a class="button" ui-sref="postEdit({id: PostShowCtrl.post._id})">Edit</a></li>
    <li><a class="button" ng-click="PostShowCtrl.postDelete()">Delete</a></li>
  </ul>

  <h4>Add Comment:</h4>
  <textarea type="text" name="name" value=""></textarea>
  <br>
  <input type="submit" value="Submit">

</div>
